.searchLabel {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 10px;
  width: 300px;
  margin: 20px auto;
}
.searchInput {
  border: 1px solid black;
  border-radius: 5px;
}
